* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

body {
  /* background-color: #283618; */
  background-image: url("/assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  grid-template-areas:
    '. title .'
    '. status .'
    '. board history'
    '. score .';
}

h1 {
  text-align: center;
  color: white;
  font-size: 7rem;
  grid-area: title;
}

#status {
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  grid-area: status;
  font-weight: 500;
}

#status .choices {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  font-size: 1.5rem;
  align-items: center;
}

#status .choices button {
  text-transform: uppercase;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  /* background-color: #b5179e; */
}

#status .choices button:nth-child(1) {
  background-color: #ff006e;
}

#status .choices button:nth-child(2) {
  background-color: #8338ec;
}

.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
}

#status>p {
  padding-top: 10px;
}

#board {
  width: 50vh;
  height: 50vh;
  margin: auto;
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
}

#board button {
  font-weight: 700;
}

.box {
  border: none;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.box:disabled {
  color: white;
  font-size: 5rem;
  cursor: default;
}

.box:disabled.x {
  background-color: #ff006e;
}

.box:disabled.o {
  background-color: #8338ec;
}

#stats {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
  grid-area: score;
}

#stats div:nth-child(2) {
  text-align: right;
}

#stats ol {
  list-style-position: inside;
}

#moves {
  visibility: hidden;
  opacity: 0;
  grid-area: history;
  justify-self: center;
}

#moves.show {
  visibility: visible;
  opacity: 1;
  transition: 800ms;
}

#moves h2 {
  color: white;
}

#moves ol {
  list-style-position: inside;
  color: white;
}

#history {
  visibility: hidden;
  opacity: 0;
  width: 50%;
  padding: 1rem 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#history.show {
  visibility: visible;
  opacity: 1;
  transition: 800ms 1s;
}

.previous,
.new-game,
.next {
  text-transform: uppercase;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 700;
}

#history button:nth-child(odd):hover {
  background-color: #f4a261;
  color: white;
}

#history button:nth-child(even):hover {
  background-color: bisque;
  color: white;
}

#history button:disabled,
#history button:disabled:hover {
  opacity: 0.5;
  background-color: white;
  color: black;
}